body {
    margin: 30px 0;
    padding: 0;
    background: #faf8ef;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

@media screen and (max-width: 480px) {
    html, body {
        font-size: 15px;
    }
}

a {
    color: #776e65;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.65;
}

.container {
    width: 500px;
    margin: 0 auto;
}

@media screen and (max-width: 670px) {
    .container {
        width: 280px;
    }
}

/* ================ HEADING ================ */

.heading {
    margin: 20px 0;
}

.heading::after {
    content: '';
    display: block;
    clear: both;
}

h1.title {
    font-weight: bold;
    margin: 0;
    display: block;
    float: left;
}

@media screen and (min-width: 671px) {
    h1.title {
        font-size: 74px;
        line-height: 66px;
    }
}

@media screen and (max-width: 670px) {
    h1.title {
        font-size: 27px;
        margin-top: 15px;
    }
}

h1.title a {
    text-decoration: none;
    color: #776e65;
    font-weight: bold;
    cursor: pointer;
}

.scores-container {
    float: right;
    text-align: right;
}

.score-container, .best-container {
    position: relative;
    display: inline-block;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 25px;
    height: 25px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    text-align: center;
}

.score-container:after {
    content: "Score";
}

.best-container:after {
    content: "Best";
}

.score-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da;
}

.game-intro {
    line-height: inherit;
    float: none;
    width: 100% !important;
}

.restart-button {
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    display: block;
    text-align: center;
    float: right;
}

@media screen and (max-width: 520px) {
    .restart-button {
        width: 35%;
        padding: 0;
        display: block;
        box-sizing: border-box;
        margin-top: 2px;
    }
}

h2.subtitle {
    font-size: 1em;
    margin: 0;
}

/* ================ THE GAME ================ */

#game-container {
    width: 500px;
    height: 500px;
    background-color: #BBADA0;
    padding: 15px;
    border-radius: 6px;
    margin: 25px auto;
    box-sizing: border-box;
    position: relative;
}

@media screen and (max-width: 670px) {
    #game-container {
        margin: 17px auto;
        position: relative;
        padding: 10px;
        width: 280px;
        height: 280px;
    }
}

.row {
    margin-bottom: 15px;
}

@media screen and (max-width: 670px) {
    .row {
        margin-bottom: 10px
    }
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.cell:last-child {
    margin-right: 0;
}

.cell {
    width: 106.25px;
    height: 106.25px;
    float: left;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 15px;
    background: rgba(238, 228, 218, 0.35);
    text-align: center;
    padding: 4px;
    font-size: 55px;
    line-height: 106px;
    font-weight: bold;
}

@media screen and (max-width: 670px) {
    .cell {
        width: 57.5px;
        height: 57.5px;
        margin-right: 10px;
        font-size: 30px;
        line-height: 46px;
    }
}

/* ================ HOW TO PLAY ================ */

.game-explanation {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: justify;
}

strong.important {
    text-transform: uppercase;
}

/* ================ Made by ================ */

.made-by {
    border-top: 1px dashed #CDC1B4;
    border-bottom: 1px dashed #CDC1B4;
    padding: 10px 0;
    margin: 20px 0 0 0;
    text-align: center;
}

/* ================ Game Over ================ */

.game-over {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    margin: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.7);
}

.game-over .game-over-info {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #8f7a66;
    border: 1px solid #8f7a66;
    padding: 15px 30px;
    border-radius: 4px;
    background-color: lightgoldenrodyellow;
    z-index: 3;
    font-size: 26px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    margin: 0;
    transform: translate(-50%, -50%);
    cursor: default;
}
.game-over-info button{
    font-size: 16px;
    font-weight: bold;
    margin: 24px auto 0 auto;
    cursor: pointer;
    outline: none;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    display: block;
    text-align: center;
}

@media screen and (max-width: 670px) {
    .game-over h3 {
        font-size: 14px;
        line-height: 18px;
    }
}

/* ================ Tile ================ */

.tile-2 {
    background-color: #faf8ef;
}

.tile-4 {
    background-color: #ede0c8;
}

.tile-8 {
    background-color: #f2b179;
    color: #f9f6f2;
}

.tile-16 {
    background-color: #f59563;
    color: #f9f6f2;
}

.tile-32 {
    background-color: #f67c5f;
    color: #f9f6f2;
}

.tile-64 {
    background-color: #f65e3b;
    color: #f9f6f2;
}

.tile-128 {
    background-color: #edcf72;
    color: #f9f6f2;
}

.tile-256 {
    background-color: #edcf72;
    color: #f9f6f2;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048)
}

.tile-512 {
    background-color: #edc850;
    color: #f9f6f2;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048)
}

.btn-add-tile {
    font-size: inherit;
    font-weight: bold;
    margin: 24px auto 0 auto;
    cursor: pointer;
    outline: none;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    display: block;
    text-align: center;
}

.btn-add-tile:hover {
    background-color: #BBADA0;
}